<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Guifg API</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light center">
        <div class="d-md-flex d-block flex-row mx-auto mx-0">

            <a class="navbar-brand" href="<%= json.html_url %>">GitHub</a>
            <a class="navbar-brand" href="<%= json.html_url+"?tab=repositories" %>">Repositórios</a>
            <a class="navbar-brand" href="<%= json.followers_url %>">Followers</a>
            <% if(json.blog != ''){ %> 
                <a href="<%= json.blog %>" class="navbar-brand">Site do programador!</a>
            <% } %> 
        </div>
    </nav>
    <div class="mt-4 mx-auto w-25">
        <img class="rounded-circle"src="<%= json.avatar_url %>" alt="eu">
        <% if(json.name !== null){ %> 
            <h1 class=""><%= json.name %> </h1>
        <% }else{ %> 
            <h1 class=""><%= json.login %> </h1>
        <% } %> 
        <h4 class=""><%= json.bio %> </h1>
    </div>
            
</body>
</html>